<?xml version='1.0' encoding='utf-8'?>
<widget id="com.msahil432.profile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>msahil432 Profile</name>
    <description>
        Sahil Malik - Online Profile
    </description>
    <author email="dev@msahil432.com" href="http://www.sahilmalik.dev">
        Sahil malik
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
